<style>

.topEmployees rect {
  fill: steelblue;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

</style>

	You are on the dashboard page

    <div class="panel panel-primary">
      <div class="panel-heading">Top 5 Employees</div>
      <div class="panel-body">

		<p><svg class="topEmployees"></svg></p>

      	
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">Bottom 5 Employees</div>
      <div class="panel-body">

		<p><svg class="bottomEmployees"></svg></p>

      	
      </div>
    </div>

