<style>

.topEmployees rect {
  fill: steelblue;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

</style>


	<div class="container-fluid">
	  <h1>Dashboard</h1>

	  <div class="row">
	    <div class="col-sm-6">
		    <div class="panel panel-primary">
		      <div class="panel-heading">Top 5 Employees</div>
		      <div class="panel-body">
				<p><svg class="topEmployees"></svg></p>
		      </div>
		    </div>
		</div>

	    <div class="col-sm-6">
		    <div class="panel panel-primary">
		      <div class="panel-heading">Bottom 5 Employees</div>
		      <div class="panel-body">
				<p><svg class="bottomEmployees"></svg></p>
		      </div>
		    </div>
		</div>
	  </div>

	  <div class="row">
	    <div class="col-sm-6">
		    <div class="panel panel-primary">
		      <div class="panel-heading">Trend Report</div>
		      <div class="panel-body">
				<p><svg class="trendReport"></svg></p>
		      </div>
		    </div>
		</div>

	    <div class="col-sm-6">
		    <div class="panel panel-primary">
		      <div class="panel-heading">Alerts</div>
		      <div class="panel-body">
		         <img src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Heavy_red_%22x%22.png" alt="Smiley face" height="22" width="22"> 
				Rhodri has had 3 negative reviews today

		      </div>
		    </div>
		</div>
	  </div>





