<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<!--Sidebar content-->
		
			<br>
			<input ng-model="query" type="text" class="form-control" placeholder="Search Employees">

<!--
			Sort by:
			<select ng-model="orderProp">
			  <option value="first_name">First Name</option>
			  <option value="last_name">Last Name</option>
			  <option value="position">Position</option>
			</select>
			[[orderProp]]
-->
		</div>


		
		<div class="col-md-10">
			<!--Body content-->
			<br>
			<ul class="phones">
				<li ng-repeat="resource in resources | filter:query | orderBy:orderProp" class="thumbnail">
					<a href="#/evaluation[[resource.id]]" class="thumb"><img ng-src="static/custfeedapp/[[resource.picture]]"></a>
					<a href="#/evaluation/[[resource.id]]">[[resource.first_name]] [[resource.last_name]]</a>
					<p>[[resource.position]]</p>
				  	<p><a href="#/evaluation/[[resource.id]]">How did [[resource.first_name]] do?</a></p>	
				</li>
			</ul>
		</div>
	</div>
</div>

<!--
<pre>[[resources | filter:query | orderBy:orderProp | json]]</pre>
-->